<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Take notes about your next great idea</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add a note</a>
</div>